::ng-deep body {
    background-color: #333333;
  }

label {
    color: white;
}

.container form {
    margin-top: 10px;
}

input[type=text] {
    margin-left: 5px;
}

button {
    margin-left: 5px;
}

.margintop10 {
    margin-top: 10px;
}

