<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-danger margintop10" *ngIf="erro">
        <div class="panel-heading">Atenção</div>
        <div class="panel-body">
          <p>Código: {{erro.cod}} - {{erro.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="cidade" class="col-md-1">CIDADE: </label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="cidade" placeholder="Campinas" formControlName="cidade">
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" (click)="pesquisar()" class="btn btn-primary glyphicon glyphicon-search"
            [disabled]="form.invalid"></button>
        </div>
      </form>
    </div>
    <clima [model]="model"></clima>
  </div>
